<nav class="bg-blue-600 p-4 text-white flex justify-between items-center">
    <h1 class="text-lg font-bold">Gestión de Contactos</h1>
    <div class="flex space-x-4">
        <a routerLink="/register" class="px-4 py-2 rounded hover:bg-blue-800" routerLinkActive="bg-blue-800 font-bold">Registrarse</a>
        <a routerLink="/login" class="px-4 py-2 rounded hover:bg-blue-800" routerLinkActive="bg-blue-800 font-bold">Iniciar sesión</a>
        <a routerLink="/contacts" class="px-4 py-2 rounded hover:bg-blue-800" routerLinkActive="bg-blue-800 font-bold">Contactos</a>
    </div>
</nav>